*{
     margin : 0;
     padding: 0;
     box-sizing: border-box;
}
body{
  background-color:burlywood;
}

.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
   width: 100vw;
   height: 4.5rem;
   background-color:rgb(70, 5, 5);
   z-index: 333;

}
.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-weight: 550;
  
}
.links ul li:first-child{
    color: #3B82F6;
}

.links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}
.links ul li {
     cursor: pointer;
     transition: all 0.2s ease;
}

.links ul li:hover {
    color: #3B82F6;
}
.button{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1.5rem;
}
.button button {
    background-color: #2563EB; /* Tailwind's blue-500 */
    color: white;
    font-weight: 500;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.1s ease
}

.button button:hover { 
    background-color: rgb(32, 99, 99);
}

.fa-bars{
    padding: 10px;
    color: rgba(255, 255, 255, 0.434);
    border-radius: 7px;
    font-size: 1.3rem; 
}
@media (min-width :700px){
     .fa-bars{
         display: none;
     }
}
@media (max-width: 700px){
     .links{
         display: none;
     }
     .navbar{
        justify-content: space-between;
        padding: 0 1rem;
    }
}
@media screen and (max-width:346px) {
    .navbar{
        height: auto;
        padding: 2rem;
        gap: 0.5rem;
    }
}
 
/* -------------footer------------ */
.footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    width: 100vw;
    gap: 1rem;
    background-color: #f9fafb; /* light gray */
    color: #1f2937; /* dark text */
    padding: 4rem 0rem;
}
.footer-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 1rem;
    color: #17797c;
    padding-top: 5px;
}

.footer-description{
    text-align: center;
    font-size: 1rem;
    color: #4b5563;
}
.footer-description p:first-child{
    padding-bottom: 0.4rem;
  }
  .footer-links ul {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 1rem 0;
  }
  .footer-links ul li {
     padding-bottom: 0.5rem;
  }
  .footer-links a {
    text-decoration: none;
    color: #1f2937;
    transition: color 0.2s;
  }
  .footer-links a:hover {
    color: #6e757e;
  }
  .footer-tags {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
  }
  .footer-tags i {
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .footer-tags i:hover {
    color: #6e757e;
  }
 
@media (max-width:768px){
     .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
     }
     
     .footer-links ul {
        gap: 2rem;
      }
}
  /* ................quotes.................. */
.quote{
   padding: 40px;
   margin:30px 100px;
   margin-bottom: 100px;
   background-color:rgb(13, 13, 43);
   text-align: center;
   border-radius: 20px;
   margin-top: 80px;
}
.quote h1 {
    padding: 0px 40px;
    padding-bottom: 10px;
     color: white;
     text-align: center;
     letter-spacing: normal;
}
.quote footer {
   color: #6e757e;
}